layout: master
bodyclass: nohero-page

@{
  var offset = Dynamic.Defined(Model.Document.ContentOffset) ? int.Parse(Model.Document.ContentOffset) : 0;
  var columns = Dynamic.Defined(Model.Document.SidebarTitle) ? 8 : 12;

  var contentClass = offset > 0 ? String.Format("col-md-{0} col-md-offset-{1}", columns - offset, offset) : String.Format("col-md-{0}", columns);
}

<aside id="fh5co-hero" style="background-image: url(@(Dynamic.Defined(Model.Document.Image) ? Model.Document.Image : "/content/red_smoke_1.jpg")">
</aside>

<div id="fh5co-main">
<section>
  <div class="container">
    <div class="row fh5co-feature-2">
      <div class="@contentClass" id="fh5co-content">
        @Raw(Model.Document.Content)
      </div>
      @if (Dynamic.Defined(Model.Document.SidebarTitle))
      {
      <aside class="col-md-3 col-md-offset1" id="fh5co-sidebar">
        <h3>@Model.Document.SidebarTitle</h3>
        <p>@Model.Document.SidebarSubtitle</p>
        <ul>
        @foreach (var item in @Model.Document.SidebarItems)
        {
            <li><a href="@item.Uri">@item.Text</a></li>
        }
        </ul>
      </aside>
      }
    </div>
  </div>
</section>
</div>
