<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
  @Include("header.cshtml")
  </head>
  <body class="@(Dynamic.Defined(Model.Document.BodyClass) ? Model.Document.BodyClass : null)">
  @Include("topbar.cshtml")
  <!-- Hero images from flickr.com, credit to:
  Lorant Szabo  https://www.flickr.com/photos/szabolor/14698333809/
  Dean Sebourn  https://www.flickr.com/photos/dsebourn/5757929301/
  Jordan McCullough  https://www.flickr.com/photos/ambientideas/3381642972/
  Shepard4711  https://www.flickr.com/photos/shepard4711/12619403094
  -->
  @Raw(Model.Document.Content)

  @Include("footer.cshtml")
  </body>
</html>