---
layout: herosmall
title: Weekly Releases
image: /content/red_smoke_4.jpg
releasesV3?: query documents where sourceRelativePath startswith "documents\releases\v3" descending date take 5
releasesV4?: query documents where sourceRelativePath startswith "documents\releases\v4" descending date take 5

---

<h2>Weekly Releases</h2>
<p>
    The following weekly releases are available. These development releases may be unstable and
    are therefore not recommended for production use. They are purged irregularly. Please upgrade 
    often (we recommend at least monthly).
</p>

<div class="col-xs-5">
    <h3>WiX v3.x</h3>
    
    <ul>
    @foreach (var release in @Model.Document.ReleasesV3)
    {
    <li><a href="@release.RelativeUrl">@Raw(release.Title)</a> on @release.Date.ToString("dddd, MMMM dd yyyy")</li>
    }
    </ul>
</div>
<div class="col-xs-5">
    <h3>WiX v4.x</h3>
        
    <ul>
    @foreach (var release in @Model.Document.ReleasesV4)
    {
    <li><a href="@release.RelativeUrl">@Raw(release.Title)</a> on @release.Date.ToString("dddd, MMMM dd yyyy")</li>
    }
    </ul>
</div>