layout: master
bodyclass: inner-page

<!-- START #fh5co-hero -->
<aside id="fh5co-hero">
    <div class="container">
    </div>
</aside>

<div id="fh5co-main">
<section>
    <div class="container">
    <!-- FEATURE -->
    <div class="row fh5co-feature-2">
        <div class="@(Dynamic.Defined(Model.Document.SidebarTitle) ? "col-md-8" : "col-md-12")" id="fh5co-content">
        @Raw(Model.Document.Content)
        </div>
        @if (Dynamic.Defined(Model.Document.SidebarTitle))
        {
        <aside class="col-md-3 col-md-offset1" id="fh5co-sidebar">
        <h3>@Model.Document.SidebarTitle</h3>
        <p>@Model.Document.SidebarSubtitle</p>
        <ul>
        @foreach (var item in @Model.Document.SidebarItems)
        {
            <li><a href="@item.Uri">@item.Text</a></li>
        }
        </ul>
        </aside>
        }
    </div>
    </div>
</section>
</div>
