<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
  @Include("header.cshtml")
  </head>
  <body class="inner-page">
  @Include("topbar.cshtml")

  <!-- START #fh5co-hero -->
  <aside id="fh5co-hero" style="background-image: url(/display/images/hero4.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="fh5co-hero-wrap">
            <div class="fh5co-hero-intro">
              <h2>@Model.Document.Subtitle</h2>
              <h1>@Model.Document.Title</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <div id="fh5co-main">
    <section>
      <div class="container">
        <!-- FEATURE -->
        <div class="row fh5co-feature-2">
          <div class="col-md-8" id="fh5co-content">
          @Raw(Model.Document.Content)
          </div>
          <aside class="col-md-3 col-md-offset1" id="fh5co-sidebar">
            <h3>@Model.Document.SidebarTitle</h3>
            <p>@Model.Document.SidebarSubtitle</p>
            <ul>
            @foreach (var item in @Model.Document.SidebarItems)
            {
              <li><a href="@item.Uri">@item.Text</a></li>
            }
            </ul>
          </aside>
        </div>
      </div>
    </section>
  </div>

  @Include("footer.cshtml")
  </body>
</html>