doctype
html(lang='en')
  head
    include header.jade

  body
    include topbar.jade

    .container
      .content
        include page-header-breadcrumb.jade

        .row
          if document.image
            .span3.offset1
              img(src=document.image, alt=document.imagealt)
            contentClass = 'span8'
          else if document.span
            contentClass = document.span
          else
            contentClass = 'span10 offset1'

          div(class='#{contentClass}')!= content

          //- If there is sidebar content, add it.
          if document.sidebarTitle
            .span4
              h3= document.sidebarTitle
              if document.sidebarSubtitle
                p= document.sidebarSubtitle
              if document.sidebarItems
                ul
                  each item in document.sidebarItems
                    li: a(href='#{item.uri}')= item.text

      include footer.jade
