layout: master
bodyclass: nohero-page
highlightCode: true

<aside id="fh5co-hero" style="background-image: url(@(Defined(Model.Document.Image) ? Model.Document.Image : "/content/red_smoke_3.jpg")">
</aside>

<div id="fh5co-main">
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-md-9">
        <div class="row">
          <div class="col-sm-12 tutorial-content">
            <h1>@Model.Document.Title</h1>
            @Raw(Model.Document.Content)
          </div>
        </div>
      </div>

      <div class="col-sm-5 col-md-3">
        <aside class="sidebar-2">
          @foreach (var book in Model.Books)
          {
            <nav class="tutorial-nav">
              <ul class="nav">
                @foreach (var chapter in book.Chapters)
                {
                  WriteChapter(chapter, true);
                }
              </ul>
            </nav>
          }
        </aside>
      </div>
    </div>
  </div>
</section>
@{
  void WriteChapter(dynamic chapter, bool first = false) {
    if (chapter.Active || chapter.SubPageActive) {
      var active = @chapter.Active ? "active" : "active-child";
      var caretClass = @first ? "fa-book" : "fa-caret-down";
      var chapterClass = @first ? "nav-book" : "nav-chapter";
      <li class="@chapterClass @active">
        <a href="@chapter.Document.RelativeUrl"><i class="fas @caretClass"></i> @chapter.Document.Title</a><ul class="nav">
          @foreach (var child in chapter.SubPages) {
            if (child.Chapter) {
              WriteChapter(child);
            } else {
              var childActive = @child.Active ? "active" : null;
              <li class="nav-page @childActive"><a href="@child.Document.RelativeUrl"><i class="far fa-file"></i> @child.Document.Title</a></li>
            }
          }
        </ul>
      </li>
    } else {
      var caretClass = @first ? "fa-book" : "fa-caret-right";
      var chapterClass = @first ? "nav-book" : "nav-chapter";
      <li class="@chapterClass"><a href="@chapter.Document.RelativeUrl"><i class="fas @caretClass"></i> @chapter.Document.Title</a></li>
    }
  }
}
