---
layout: heronone
title: Published Builds
image: /content/red_smoke_4.jpg
panelHeading: Get the latest versions of the WiX toolset.
Items: [
  { uri: "/releases/v3.10/stable",
    text: "WiX v3.10.1 (Stable)" },
  { uri: "/releases/v3.9/stable",
    text: "WiX v3.9 R2 (Stable)" },
  { uri: "/releases/v3.8/stable",
    text: "WiX v3.8 (Stable)" },
  { uri: "/releases/v3.7/stable",
    text: "WiX v3.7 (Stable)" },
  { uri: "/releases/v3.6/stable",
    text: "WiX v3.6 (Stable)" },
  { uri: "/releases/v3.5/stable",
    text: "WiX v3.5 (Stable)" },
  { uri: "/releases/v3.0/stable",
    text: "WiX v3.0 (Stable)" },
  { uri: "/releases/v2.0/stable",
    text: "WiX v2.0 (Stable)" }
  ]
  
---

<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <h2>@Model.Document.Title</h2>
            <p>@Model.Document.PanelHeading</p>
        </div>
        <div class="panel-body">
            <ul>
            @foreach (var item in @Model.Document.Items)
            {
                <li><a href="@item.Uri">@item.text</a></li>
            }
            </ul>
        </div>
    </div>
</div>