all = getCollection('releases').toJSON()
releases = []
first = null
each release in all
  if release.title.slice(0, document.version.length) === document.version
    - releases.push(release)
    unless first
      - infoFile = getReleaseInfo(release).toJSON()
      - first = { 'release':release, 'info': JSON.parse(infoFile.content) }

<?xml version='1.0' ?>
feed(xmlns='http://www.w3.org/2005/Atom', xmlns:as='http://appsyndication.org/2006/appsyn')
  title(type='text') WiX Toolset #{document.version}
  subtitle(type='text') The WiX Toolset is a set of tools to create Windows installation packages from XML source code. The toolset supports a command line environment that developers may integrate into their build processes to build MSI and MSM setup packages.
  if first.info.files[0].upgradeCode
    as:application(type=first.info.files[0].contentType)= first.info.files[0].upgradeCode
  updated= first.release.date.toISOString()
  id #{site.url}/releases/feed/#{document.version}
  link(rel='self', type='application/atom+xml', href='#{site.url}/releases/feed/#{document.version}')
  generator(version='0.1') wixweb build

  each release in releases
    infoFile = getReleaseInfo(release).toJSON()
    info = JSON.parse(infoFile.content)

    entry
      title WiX toolset #{release.title}
      id #{site.url}#{release.url}
      author
        name wixtoolset
        uri http://twitter.com/wixtoolset
        email wix-users@lists.sourceforge.net
      link(rel='alternate', href='#{site.url}#{release.url}')
      link(rel='enclosure', href='#{site.url}/downloads/#{info.id}/#{info.files[0].name}', length=info.files[0].size || 0, type=info.files[0].contentType)
      content(type='html')= '<p>Change list:</p>' + release.contentRenderedWithoutLayouts
      if info.files[0].id
        as:application(type=info.files[0].contentType) info.files[0].id
      as:version= release.title
      updated= release.date.toISOString()
